{% extends 'bootstrap/base.html'%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
        <link href="./img/popcorn.png" rel="icon">
    </head>
    <body>

        <!-- Navbar block  --> 
        {% block navbar %}
            {% include 'navbar.html' %}
        {% endblock %}

        <!-- Content block -->
        {% block content %}
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script>
            var elem = document.querySelector('.grid');
            var msnry = new Masonry( elem, {
            // options
            itemSelector: '.grid-item',
            columnWidth: 200
            });

            // element argument can be a selector string
            //   for an individual element
            var msnry = new Masonry( '.grid', {
            // options
            });
        </script>
        {% endblock%}
    </body>
</html>






